* {
  font-family: 'Josefin Sans';
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section-container{
  margin: 3vw 5vw 0;
}

.section-title{
  text-align: center;
  font: 3.5vw;
}

.section-subtitle{
  text-align: center;
  margin-bottom: 0;
}

.card-section{
  padding: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards-container{
  display: flex;
  width: 40vw;
  height: 15vw;
  background: #E7E9EB;
  margin-bottom: 2vw;
  border-radius: 2vw;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.card-image{
  width: 33%;
  border-radius: 2vw 0 0 2vw;
}

.card-image:hover{
  filter: brightness(0.8);
  list-style: none;
}

.card-writeup{
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 67%;
}

.speaker-name{
  font-weight: bolder;
  font-size: 2vw;
  margin-bottom: 0;
}

.speaker-title{
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.2vw;
}

.speaker-subtitle{
  margin-bottom: 0;
  font-size: 1vw;
}

.speaker-bio{
  margin-bottom: 0;
  font-size: 1vw;
}

.call-to-action{
  display: flex;
  padding: 0.5vw 0.8vw;
  border-radius: 0.5vw;
  font-size: 1vw;
  background-color: royalblue;
  color: white;
  width: fit-content;
}

.call-to-action:hover{
  color: white;
}


@media only screen and (max-width: 600px)  {
  .card-section{
      flex-direction: column;
  }

  .cards-container{
      width: 80vw;
      margin: 0 auto 3vw;
      height: 27vw;
  }

  .card-writeup{
      padding: 1vw 1vw 1vw 2vw;
  }

  .speaker-name{
      font-size: 4vw;
  }

  .speaker-title{
      font-size: 2.3vw;
  }

  .speaker-subtitle{
      font-size: 2vw;
  }

  .speaker-bio{
      font-size: 1.7vw;
  }

  .call-to-action{
      font-size: 2vw;
  }
}