.panel-container{
    background-color: #DFE0D8;
    text-align: center;
    padding: 5vw 0;
}

.panel-title, .panel-subtitle{
    text-align: center;
}

.sc-cards{
    display: flex;
    justify-content: space-between;
}

.card-item{
    margin: 1vw;
    width: 35vw;
}

.card-item img{
    height: 40vh;
}

.card-item img:hover{
    filter: brightness(50%);
}

.card-title{
    font-size: 1.2vw;
    font-weight: bolder;
}

.card-text{
    font-size: 1vw;
}

@media only screen and (max-width: 600px)  {
    .sc-cards{
        flex-direction: column;
        padding: 0 5vw;
    }

    .card-item{
        margin: 0;
        margin-bottom: 3vw;
        width: 100%;
        flex-direction: row!important;
    }

    .card-item img{
        padding: 2vw;
        height: 40vw;
        max-width: 40vw;
    }

    .card-body{
        padding: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-title{
        font-size: 4vw;
        font-weight: bolder;
    }

    .card-text{
        font-size: 3vw;
    }

    #inviteText{
        font-size: 4vw;
    }

    .cd-btn{
        font-size: 3.5vw;
    }

    .sgcard-btn{
        width: 19vw;
    }
}