.special_Guest_container{
    padding: 3vw;
}

.special_Guest_container h2{
    text-align: center;
}

.sg-cards{
    display: flex;
    justify-content: space-between;
    padding: 4vh 10vw;
}

.sg-cards .sgcard-item{
    width: 25vw;

}

.sg-cards .sgcard-item img{
    height: 48vh;
    width: 100%;
}

.sg-cards .sgcard-item img:hover{
    filter: brightness(50%);
}

.sg-cards .sgcard-item .card-body .card-title{
    font-size: 2vw;
    font-weight: bolder;
}

.special-guest-position{
    font-size: 1.3vw;
}

.sg-cards .sgcard-item .card-body .card-text{
    font-size: 1vw;
}

.sg-cards .sgcard-item .card-body .card-text-two{
    font-size: 1.5vw;
}

@media only screen and (max-width: 600px)  {
    .special_Guest_container{
        padding: 8vw 3vw;
    }

    .special_Guest_container h2{
        font-size: 6vw;
    }
    .sg-cards{
        flex-direction: column;
        padding: 0 5vw;
    }

    .sg-cards .sgcard-item{
        margin: 0;
        margin-bottom: 6vh;
        width: 100%;
        flex-direction: row;
    }

    .sg-cards .sgcard-item img{
        height: 40vw;
        max-width: 40vw;
        margin-right: 2vw;
    }

    .sg-cards .sgcard-item .card-body .card-title{
        font-size: 4vw;
        font-weight: bolder;
        margin-bottom: 0.5vw;
    }

    
    .special-guest-position{
        font-size: 3vw;
    }

    .sg-cards .sgcard-item .card-body .card-text{
        font-size: 2.5vw;
        text-align: justify;
        margin-bottom: 0.5vw;
    }
    
    .sg-cards .sgcard-item .card-body .card-text-two{
        font-size: 1vw;
    }

    .sg-cards .sgcard-item .card-body .sgcard-btn{
        font-size: 2vw;
    }
}